<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Public Rest webserver">
    <meta name="author" content="bieggerm">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>RestCheck</title>
    <!-- styles and fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            min-height: 75rem;
            padding-top: 4.5rem;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Open Sans', sans-serif;
        }

        p {
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
        }
    </style>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
</head>

<body>

<main role="main" class="container">

    <div class="starter-template">
        <h1 class="text-center">RestCheck</h1>
        <p class="text-center">Public webserver to view requests on the receivers end.<br> To get started, generate a session by using the button below.</p>
        <button class = "btn-lg btn - " >

        </button>
    </div>


</main><!-- /.container -->


</body>
</html>