<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>basic_RestRequest</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Features-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="highlight-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">RestRequest</h2>
                <p class="text-center">Public Rest-API Server to&nbsp;to view requests on the receivers end.&nbsp; &nbsp; &nbsp; &nbsp;To get started, generate a session by using the button below.</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Create Session</a></div>
        </div>
    </section>
    <section class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features</h2>
                <p class="text-center">This Project enables Developers the check back on outgoing requests. After creating a session, the provided HTTP-Address will serve as a personal Rest-Endpoint.&nbsp; &nbsp;</p>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">No matter wherefrom.</h3>
                    <p class="description">When designing Rest-Requests on the fly, complex networking configurations can hinder your Testing. If you're able to connect to public IPs, RestRequest is always in your reach.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Available always.</h3>
                    <p class="description">No need for setting up your own webserver or custom endpoint to check the validity of the request. Each session provides you with 30 minutes of quality time.&nbsp;</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">It's in the details.</h3>
                    <p class="description">Easy access to the entire information of you request. Get an overview of all your calls and spot mistakes faster. We provide you with the entire head and body of your request.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-leaf icon"></i>
                    <h3 class="name">For the environment.</h3>
                    <p class="description">Running webservers does cost computing resources and energy. The Rest Request Community can contribute to saving the planet, just by looking at Rest-Requests</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-plane icon"></i>
                    <h3 class="name">Fast</h3>
                    <p class="description">Build in Django, this simple Projects features a high performance infrastructure to get your information fast. See for yourself. Visit the project on Github.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone icon"></i>
                    <h3 class="name">Your data is secure</h3>
                    <p class="description">We don't save any data in free tier. After the 30 minute session, your data will be deleted.</p>
                </div>
            </div>
        </div>
        <footer class="footer-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Projekt</a></li>
                            <li><a href="#">Marius Biegger</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Marius Biegger</h3>
                        <p>Hi, i hope this small app is useful to you. I build it as a means of entry to have a look at django development. If you find any bug, please contact me on github.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">&nbsp;Marius Biegger © 2021</p>
            </div>
        </footer>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>